## Deter (Sistema de Detecção de Desmatamento em Tempo Real da Amazônia Legal) -    01/09/18 à 23/08/19

In [81]:
import pandas as pd

In [63]:
df = pd.read_csv('deterb_23_7_2019 (1).csv', encoding='latin', delimiter=',')

In [64]:
df.head()

         date  areaMunKm  areaUcKm   uc  uf     municipio
0  16/09/2018     0.0682       0.0  NaN  PA  Jacareacanga
1  17/09/2018     0.0654       0.0  NaN  MT        Matupa
2  02/09/2018     0.0034       0.0  NaN  PA  Jacareacanga
3  02/09/2018     0.0010       0.0  NaN  PA  Jacareacanga
4  02/09/2018     0.0144       0.0  NaN  PA  Jacareacanga

In [65]:
df.tail()

,date,areaMunKm,areaUcKm,uc,uf,municipio
42425,04/09/2018,0.0676,0.0676,RESERVA EXTRATIVISTA CHICO MENDES,AC,Rio Branco
42426,19/09/2018,12.0407,0.0000,NaN,RO,Porto Velho
42427,10/09/2018,0.5417,0.0000,NaN,RO,Porto Velho
42428,20/09/2018,0.3426,0.0000,NaN,PA,Novo Progresso
42429,21/10/2018,0.1375,0.0000,NaN,PA,Trairao

In [66]:
list(df.columns)

['date', 'areaMunKm', 'areaUcKm', 'uc', 'uf', 'municipio']

In [67]:
df.rename(columns={'date': 'Data','areaMunKm':'Area_Municipal_KM','areaUcKm': 'Area_UC_KM','uc': 'Unid_de_Conserv','uf':'UF','municipio':'Municipio'}, inplace=True)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42430 entries, 0 to 42429
Data columns (total 6 columns):
Data                 42430 non-null object
Area_Municipal_KM    42430 non-null float64
Area_UC_KM           42430 non-null float64
Unid_de_Conserv      2054 non-null object
UF                   42430 non-null object
Municipio            42430 non-null object
dtypes: float64(2), object(4)
memory usage: 1.9+ MB

In [96]:
# O NAN correspondem a nenhuma Unidade de Conservação
df['Unid_de_Conserv'].value_counts(dropna=False).head()

NaN                                          40376
ÃREA DE PROTEÃÃO AMBIENTAL DO TAPAJÃS      484
RESERVA EXTRATIVISTA CHICO MENDES              286
FLORESTA NACIONAL DO JAMANXIM                  245
ESTAÃÃO ECOLÃGICA DA TERRA DO MEIO          112
Name: Unid_de_Conserv, dtype: int64

# Municipio com maiores áreas de Desmatamento

In [90]:
MunicipiosGroups = df.groupby("Municipio")["Area_Municipal_KM"].sum().reset_index()

In [91]:
MunicipiosGroups.sort_values(by= "Area_Municipal_KM", ascending=False).head(10)

              Municipio  Area_Municipal_KM
9              Altamira           810.0409
343  Sao Felix do Xingu           596.7206
229             Mucajai           541.8910
215         Marcelandia           507.6160
294         Porto Velho           492.7932
196              Labrea           445.3183
145         Feliz Natal           431.5375
390        Uniao do Sul           366.5942
116             Colniza           359.4000
170             Iracema           351.2734

# UF mais desmatadas por KM

In [73]:
UFGroups = df.groupby("UF")["Area_Municipal_KM"].sum().reset_index()

In [74]:
UFGroups.sort_values(by= "Area_Municipal_KM", ascending=False)

   UF  Area_Municipal_KM
4  MT          6853.4861
5  PA          4541.5838
6  RO          1607.4058
7  RR          1586.2884
1  AM          1540.9746
3  MA           589.3938
0  AC           419.0520
8  TO           172.5450
2  AP            12.7261

# UC mais desmatadas por KM

In [86]:
UCGroups = df.groupby("Unid_de_Conserv")["Area_UC_KM"].sum().reset_index()

In [87]:
UCGroups.sort_values(by= "Area_UC_KM", ascending=False).head(10)

                                      Unid_de_Conserv  Area_UC_KM
25                      FLORESTA NACIONAL DO JAMANXIM    137.6537
13                       FLORESTA NACIONAL DE RORAIMA    134.5279
3                       FLORESTA NACIONAL DE ALTAMIRA    110.1100
35                        PARQUE NACIONAL DO ARAGUAIA     89.4904
67          ÃREA DE PROTEÃÃO AMBIENTAL DO TAPAJÃS     65.7228
1               ESTAÃÃO ECOLÃGICA DA TERRA DO MEIO     29.0658
49                  RESERVA EXTRATIVISTA CHICO MENDES     27.5777
46  RESERVA BIOLÃGICA NASCENTES DA SERRA DO CACHIMBO     25.4493
10                   FLORESTA NACIONAL DE ITAITUBA II     13.6289
21                    FLORESTA NACIONAL DO BOM FUTURO     10.3348

## Total de Alertas por UF

In [77]:
df['UF'].value_counts()

PA    15820
MT     8158
RO     6709
AM     5504
AC     2750
RR     2449
MA      841
TO      120
AP       79
Name: UF, dtype: int64

## Total de Alertas por Municipios

In [78]:
df['Municipio'].value_counts().head(10)

Sao Felix do Xingu    2205
Altamira              1829
Porto Velho           1676
Pacaja                1410
Labrea                1197
Itaituba              1092
Apui                   990
Portel                 827
Colniza                792
Novo Progresso         785
Name: Municipio, dtype: int64

## Total de Alertas por UC - Unidade de Conservação

In [80]:
df['Unid_de_Conserv'].value_counts().head(10)

ÃREA DE PROTEÃÃO AMBIENTAL DO TAPAJÃS            484
RESERVA EXTRATIVISTA CHICO MENDES                    286
FLORESTA NACIONAL DO JAMANXIM                        245
ESTAÃÃO ECOLÃGICA DA TERRA DO MEIO                112
FLORESTA NACIONAL DE RORAIMA                         108
FLORESTA NACIONAL DE ALTAMIRA                         90
FLORESTA NACIONAL DO AMANA                            72
RESERVA BIOLÃGICA NASCENTES DA SERRA DO CACHIMBO     62
FLORESTA NACIONAL DE ITAITUBA II                      58
FLORESTA NACIONAL DO BOM FUTURO                       57
Name: Unid_de_Conserv, dtype: int64