## Deter (Sistema de Detecção de Desmatamento em Tempo Real da Amazônia Legal) -    05/09/18 até 03/09/19

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
df = pd.read_csv('deterb_9_8_2019_UC.csv', encoding='latin', delimiter=',')

In [5]:
df.head()

,date,areaMunKm,areaUcKm,uc,uf,municipio
0,20/07/2019,0.0665,0.0000,NaN,PA,Altamira
1,01/09/2019,0.1016,0.1016,FLORESTA NACIONAL DO AMANA,PA,Itaituba
2,29/08/2019,0.0735,0.0735,FLORESTA NACIONAL DO CREPORI,PA,Jacareacanga
3,29/08/2019,0.0150,0.0150,ÃREA DE PROTEÃÃO AMBIENTAL DO TAPAJÃS,PA,Jacareacanga
4,29/08/2019,0.0840,0.0840,ÃREA DE PROTEÃÃO AMBIENTAL DO TAPAJÃS,PA,Itaituba

In [6]:
df.tail()

             date  areaMunKm  areaUcKm   uc  uf        municipio
47198  11/09/2018     0.0698       0.0  NaN  PA  Cumaru do Norte
47199  11/09/2018     0.0012       0.0  NaN  PA  Cumaru do Norte
47200  11/09/2018     0.0619       0.0  NaN  PA  Cumaru do Norte
47201  11/09/2018     0.0988       0.0  NaN  PA  Cumaru do Norte
47202  29/09/2018    15.8006       0.0  NaN  MT      Nova Nazare

In [7]:
list(df.columns)

['date', 'areaMunKm', 'areaUcKm', 'uc', 'uf', 'municipio']

In [8]:
df.rename(columns={'date': 'Data','areaMunKm':'Area_Municipal_KM','areaUcKm': 'Area_UC_KM','uc': 'Unid_de_Conserv','uf':'UF','municipio':'Municipio'}, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47203 entries, 0 to 47202
Data columns (total 6 columns):
Data                 47203 non-null object
Area_Municipal_KM    47203 non-null float64
Area_UC_KM           47203 non-null float64
Unid_de_Conserv      2204 non-null object
UF                   47203 non-null object
Municipio            47203 non-null object
dtypes: float64(2), object(4)
memory usage: 2.2+ MB

In [13]:
# O NAN correspondem a nenhuma Unidade de Conservação
df['Unid_de_Conserv'].value_counts(dropna=False).head(10)

NaN                                                  44999
ÃREA DE PROTEÃÃO AMBIENTAL DO TAPAJÃS              442
RESERVA EXTRATIVISTA CHICO MENDES                      379
FLORESTA NACIONAL DO JAMANXIM                          280
ESTAÃÃO ECOLÃGICA DA TERRA DO MEIO                  121
FLORESTA NACIONAL DE RORAIMA                           108
FLORESTA NACIONAL DE ALTAMIRA                           91
RESERVA BIOLÃGICA NASCENTES DA SERRA DO CACHIMBO       74
FLORESTA NACIONAL DO AMANA                              72
FLORESTA NACIONAL DO BOM FUTURO                         63
Name: Unid_de_Conserv, dtype: int64

In [15]:
df.Unid_de_Conserv.replace({'ÃREA DE PROTEÃÃO AMBIENTAL DO TAPAJÃS':'AREA DE PROTEÇÃO AMBIENTAL DO TAPAJÓS','ESTAÃÃO ECOLÃGICA DA TERRA DO MEIO':'ESTAÇÃO ECOLÓGICA DA TERRA DO MEIO','RESERVA BIOLÃGICA NASCENTES DA SERRA DO CACHIMBO':'RESERVA BIOLÓGICA NASCENTE DA SERRA DO CACHIMBO'}, regex=True, inplace=True)
df['Unid_de_Conserv'].value_counts(dropna=False).head(10)

NaN                                                44999
AREA DE PROTEÇÃO AMBIENTAL DO TAPAJÓS                442
RESERVA EXTRATIVISTA CHICO MENDES                    379
FLORESTA NACIONAL DO JAMANXIM                        280
ESTAÇÃO ECOLÓGICA DA TERRA DO MEIO                   121
FLORESTA NACIONAL DE RORAIMA                         108
FLORESTA NACIONAL DE ALTAMIRA                         91
RESERVA BIOLÓGICA NASCENTE DA SERRA DO CACHIMBO       74
FLORESTA NACIONAL DO AMANA                            72
FLORESTA NACIONAL DO BOM FUTURO                       63
Name: Unid_de_Conserv, dtype: int64

# Municipio com maiores áreas de Desmatamento

In [16]:
MunicipiosGroups = df.groupby("Municipio")["Area_Municipal_KM"].sum().reset_index()

In [17]:
MunicipiosGroups.sort_values(by= "Area_Municipal_KM", ascending=False).head(10)

              Municipio  Area_Municipal_KM
9              Altamira           961.4071
342  Sao Felix do Xingu           746.2868
229             Mucajai           552.6840
215         Marcelandia           550.3312
294         Porto Velho           524.7984
259      Novo Progresso           462.7377
149         Feliz Natal           456.8731
199              Labrea           440.1731
120             Colniza           375.9849
389        Uniao do Sul           359.9295

# UF mais desmatadas por KM

In [18]:
UFGroups = df.groupby("UF")["Area_Municipal_KM"].sum().reset_index()

In [19]:
UFGroups.sort_values(by= "Area_Municipal_KM", ascending=False)

   UF  Area_Municipal_KM
4  MT          7170.8220
5  PA          5528.0985
6  RO          1802.3573
7  RR          1708.0789
1  AM          1666.2566
0  AC           511.4700
3  MA           431.1074
8  TO            64.8151
2  AP            12.7261

# UC mais desmatadas por KM

In [20]:
UCGroups = df.groupby("Unid_de_Conserv")["Area_UC_KM","UF"].sum().reset_index()

In [21]:
UCGroups.sort_values(by= "Area_UC_KM", ascending=False).head(10)

                                    Unid_de_Conserv  Area_UC_KM
26                    FLORESTA NACIONAL DO JAMANXIM    168.6013
14                     FLORESTA NACIONAL DE RORAIMA    134.5279
4                     FLORESTA NACIONAL DE ALTAMIRA    115.0154
0             AREA DE PROTEÇÃO AMBIENTAL DO TAPAJÓS     61.8113
49                RESERVA EXTRATIVISTA CHICO MENDES     36.5490
47  RESERVA BIOLÓGICA NASCENTE DA SERRA DO CACHIMBO     32.8884
3                ESTAÇÃO ECOLÓGICA DA TERRA DO MEIO     30.5539
22                  FLORESTA NACIONAL DO BOM FUTURO     11.6111
11                 FLORESTA NACIONAL DE ITAITUBA II     10.5782
19                       FLORESTA NACIONAL DO AMANA      7.3923

## Total de Alertas por UF

In [22]:
df['UF'].value_counts()

PA    18160
MT     8730
RO     7506
AM     5791
AC     3461
RR     2703
MA      668
TO      105
AP       79
Name: UF, dtype: int64

## Total de Alertas por Municipios

In [23]:
df['Municipio'].value_counts().head(10)

Sao Felix do Xingu    2627
Altamira              2214
Porto Velho           1731
Pacaja                1517
Labrea                1184
Apui                  1128
Itaituba              1041
Novo Progresso         944
Portel                 918
Colniza                903
Name: Municipio, dtype: int64

## Total de Alertas por UC - Unidade de Conservação

In [24]:
df['Unid_de_Conserv'].value_counts().head(10)

AREA DE PROTEÇÃO AMBIENTAL DO TAPAJÓS              442
RESERVA EXTRATIVISTA CHICO MENDES                  379
FLORESTA NACIONAL DO JAMANXIM                      280
ESTAÇÃO ECOLÓGICA DA TERRA DO MEIO                 121
FLORESTA NACIONAL DE RORAIMA                       108
FLORESTA NACIONAL DE ALTAMIRA                       91
RESERVA BIOLÓGICA NASCENTE DA SERRA DO CACHIMBO     74
FLORESTA NACIONAL DO AMANA                          72
FLORESTA NACIONAL DO BOM FUTURO                     63
FLORESTA NACIONAL DE ITAITUBA II                    59
Name: Unid_de_Conserv, dtype: int64