## Homicídios Amazônia Legal - Período de 1980 até 2017 - Segurança Pública

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

%matplotlib inline

In [39]:
df = pd.read_excel('ipeadata_Homicidios_Amazonia_Legal.xls')

In [40]:
df.head()

,Sigla,Codigo,Município,1980,1981,1982,1983,1984,1985,1986,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,AC,1200013,Acrelândia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,5.0,2.0,1.0,4.0,4.0,3.0,7.0,5.0
1,AC,1200054,Assis Brasil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,2.0,1.0,2.0,NaN,1.0,2.0,4.0
2,AC,1200104,Brasiléia,2.0,2.0,2.0,NaN,NaN,NaN,NaN,...,3.0,6.0,6.0,7.0,4.0,7.0,7.0,3.0,8.0,9.0
3,AC,1200138,Bujari,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,1.0,1.0,1.0,1.0,5.0,5.0,2.0
4,AC,1200179,Capixaba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,2.0,1.0,3.0,2.0,1.0,4.0,3.0,5.0

In [41]:
df.tail()

,Sigla,Codigo,Município,1980,1981,1982,1983,1984,1985,1986,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
767,TO,1721208,Tocantinópolis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,6.0,8.0,5.0,1.0,4.0,8.0,7.0,7.0
768,TO,1721257,Tupirama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,1.0,NaN,NaN,NaN,1.0
769,TO,1721307,Tupiratins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,NaN,1.0,1.0,1.0,2.0,NaN
770,TO,1722081,Wanderlândia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,6.0,3.0,6.0,3.0,3.0,4.0,2.0,9.0,6.0
771,TO,1722107,Xambioá,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,4.0,NaN,1.0,4.0,1.0,2.0,5.0,6.0,4.0

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 41 columns):
Sigla        772 non-null object
Codigo       772 non-null int64
Município    772 non-null object
1980         89 non-null float64
1981         99 non-null float64
1982         111 non-null float64
1983         161 non-null float64
1984         180 non-null float64
1985         178 non-null float64
1986         193 non-null float64
1987         195 non-null float64
1988         223 non-null float64
1989         255 non-null float64
1990         237 non-null float64
1991         270 non-null float64
1992         269 non-null float64
1993         287 non-null float64
1994         292 non-null float64
1995         300 non-null float64
1996         311 non-null float64
1997         347 non-null float64
1998         354 non-null float64
1999         372 non-null float64
2000         381 non-null float64
2001         407 non-null float64
2002         440 non-null float64
2003         505 non-null float64
2004         509 non-null float64
2005         525 non-null float64
2006         564 non-null float64
2007         541 non-null float64
2008         570 non-null float64
2009         569 non-null float64
2010         586 non-null float64
2011         590 non-null float64
2012         593 non-null float64
2013         616 non-null float64
2014         608 non-null float64
2015         630 non-null float64
2016         649 non-null float64
2017         659 non-null float64
dtypes: float64(38), int64(1), object(2)
memory usage: 247.4+ KB

In [44]:
df.columns

Index(['Sigla', 'Codigo', 'Município', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object')

In [45]:
df.rename(columns={'Sigla': 'UF'}, inplace=True)

In [46]:
df.head()

,UF,Codigo,Município,1980,1981,1982,1983,1984,1985,1986,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,AC,1200013,Acrelândia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,5.0,2.0,1.0,4.0,4.0,3.0,7.0,5.0
1,AC,1200054,Assis Brasil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,2.0,1.0,2.0,NaN,1.0,2.0,4.0
2,AC,1200104,Brasiléia,2.0,2.0,2.0,NaN,NaN,NaN,NaN,...,3.0,6.0,6.0,7.0,4.0,7.0,7.0,3.0,8.0,9.0
3,AC,1200138,Bujari,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,1.0,1.0,1.0,1.0,5.0,5.0,2.0
4,AC,1200179,Capixaba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,2.0,1.0,3.0,2.0,1.0,4.0,3.0,5.0

## Total de Homícidios por Municipios - 2013 até 2017

In [49]:
Mun_AnoGroup = df.groupby("Município")["2017","2016","2015","2014","2013"].sum().reset_index()

In [51]:
Mun_AnoGroup.sort_values(by= "2017", ascending=False).head(12)

       Município    2017    2016    2015   2014   2013
373       Manaus  1187.0  1002.0  1130.0  916.0  869.0
95         Belém  1072.0  1101.0   875.0  826.0  840.0
677     São Luís   506.0   601.0   758.0  856.0  774.0
39    Ananindeua   451.0   427.0   352.0  304.0  368.0
569   Rio Branco   324.0   236.0   126.0  152.0  134.0
368       Macapá   257.0   261.0   188.0  182.0  143.0
376       Marabá   239.0   205.0   201.0  170.0  187.0
538  Porto Velho   184.0   225.0   208.0  178.0  183.0
217       Cuiabá   162.0   217.0   256.0  269.0  224.0
174    Castanhal   151.0   147.0   124.0  101.0   96.0
103    Boa Vista   149.0   118.0   120.0   81.0  125.0
15      Altamira   149.0    98.0   114.0  103.0   92.0

## Total de Homícidios por UF - 2013 até 2017

In [52]:
UF_AnoGroup = df.groupby("UF")["2017","2016","2015","2014","2013"].sum().reset_index()

In [55]:
UF_AnoGroup.sort_values(by= "2017", ascending=False)

   UF    2017    2016    2015    2014    2013
5  PA  4550.0  4207.0  3661.0  3429.0  3377.0
3  MA  1898.0  2145.0  2186.0  2230.0  1958.0
1  AM  1671.0  1447.0  1472.0  1232.0  1189.0
4  MT  1098.0  1175.0  1198.0  1353.0  1149.0
8  TO   552.0   566.0   492.0   373.0   345.0
6  RO   550.0   689.0   592.0   572.0   476.0
0  AC   516.0   363.0   217.0   232.0   234.0
2  AP   383.0   381.0   293.0   256.0   225.0
7  RR   248.0   204.0   203.0   158.0   214.0