## Principais Municipios Devasmatados entre 2013 e 2018

In [133]:
import pandas as pd 
import matplotlib.pyplot as plt

%matplotlib inline

In [134]:
# Municipios com maiores áreas de desmatamento

df = pd.read_csv('terrabrasilis_legal_amazon_22_7_2019_1566486804830.Municipios.csv', encoding='latin', delimiter=',')

In [135]:
df.head()

   year       area                  loi
0  2018   0.391914         BURITI BRAVO
1  2018   0.924234        CURIONÃPOLIS
2  2018   0.162558  ITAIPAVA DO GRAJAÃ
3  2018  13.964630           NOVO MUNDO
4  2018   0.141526             CANARANA

In [136]:
df.tail()

      year       area                 loi
3066  2013   0.509835  PRESIDENTE MÃDICI
3067  2013   4.680254             GUARAÃ
3068  2013   8.566553       VALE DO ANARI
3069  2013  11.621852  LAGOA DA CONFUSÃO
3070  2013   0.169398          IMPERATRIZ

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3071 entries, 0 to 3070
Data columns (total 3 columns):
year    3071 non-null int64
area    3071 non-null float64
loi     3071 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 72.1+ KB

In [138]:
list(df.columns)

['year', 'area', 'loi']

In [139]:
df.rename(columns={'year': 'Ano','area': 'Area', 'loi': 'Municipio'}, inplace=True)

In [140]:
df.head()

    Ano       Area            Municipio
0  2018   0.391914         BURITI BRAVO
1  2018   0.924234        CURIONÃPOLIS
2  2018   0.162558  ITAIPAVA DO GRAJAÃ
3  2018  13.964630           NOVO MUNDO
4  2018   0.141526             CANARANA

## Desmatamento - Ano x Area

In [141]:
AnosGroups = df.groupby("Ano")["Area"].sum().reset_index()

In [142]:
AnosGroups.sort_values(by= "Ano", ascending=False).head(13)

    Ano         Area
5  2018  6782.218117
4  2017  7076.424232
3  2016  7225.949899
2  2015  6052.830002
1  2014  5072.612394
0  2013  5306.855625

## Municipos mais desmatados por KM2

In [143]:
MunicipiosGroups = df.groupby("Municipio")["Area"].sum().reset_index()

In [144]:
MunicipiosGroups.sort_values(by= "Area", ascending=False).head(13)

                Municipio         Area
11               ALTAMIRA  1943.332855
426           PORTO VELHO  1823.566268
521  SÃO FÃLIX DO XINGU  1399.380074
291               LÃBREA  1373.518758
158               COLNIZA  1185.850875
351          NOVA MAMORÃ   882.261235
371        NOVO PROGRESSO   827.963960
372     NOVO REPARTIMENTO   814.991884
34                  APUÃ   763.286893
380               PACAJÃ   725.403853
417                PORTEL   620.854006
248              ITAITUBA   597.734925
367        NOVO ARIPUANÃ   537.925101