## UC - Unidades de Conservação-  Desmatadas entre 2013 e 2018

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [16]:
df = pd.read_csv('terrabrasilis_legal_amazon_22_7_2019_1566486859214.UC.csv', encoding='latin', delimiter=',')

In [17]:
df.head()

   year      area                                   loi
0  2018  2.868437           PARQUE NACIONAL DO JAMANXIM
1  2018  0.000000  FLORESTA NACIONAL DE SARACÃ-TAQUERA
2  2018  0.138638       FLORESTA NACIONAL DE ITAITUBA I
3  2018  2.435323          RESERVA EXTRATIVISTA ANGELIM
4  2018  0.660014            FLORESTA NACIONAL DE PURUS

In [18]:
df.tail()

     year       area                                                loi
754  2013   0.000000  ÃREA DE PROTEÃÃO AMBIENTAL MEANDROS DO ARAG...
755  2013   1.325665            RESERVA EXTRATIVISTA RIO PRETO-JACUNDÃ
756  2013   0.157487                 FLORESTA NACIONAL DE BALATA-TUFARI
757  2013  32.285024          ÃREA DE PROTEÃÃO AMBIENTAL DO TAPAJÃS
758  2013   0.886554              ÃREA DE PROTEÃÃO AMBIENTAL PAYTUNA

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759 entries, 0 to 758
Data columns (total 3 columns):
year    759 non-null int64
area    759 non-null float64
loi     759 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 17.9+ KB

In [20]:
list(df.columns)

['year', 'area', 'loi']

In [21]:
df.rename(columns={'year': 'Ano','area': 'Area', 'loi': 'UC'}, inplace=True)

In [22]:
df.head()

    Ano      Area                                    UC
0  2018  2.868437           PARQUE NACIONAL DO JAMANXIM
1  2018  0.000000  FLORESTA NACIONAL DE SARACÃ-TAQUERA
2  2018  0.138638       FLORESTA NACIONAL DE ITAITUBA I
3  2018  2.435323          RESERVA EXTRATIVISTA ANGELIM
4  2018  0.660014            FLORESTA NACIONAL DE PURUS

## Desmatamento - Ano x Area

In [23]:
AnosGroups = df.groupby("Ano")["Area"].sum().reset_index()

In [24]:
AnosGroups.sort_values(by= "Ano", ascending=False)

    Ano        Area
5  2018  725.149268
4  2017  636.092820
3  2016  859.980721
2  2015  594.829327
1  2014  451.334923
0  2013  444.966368

## UC mais desmatados por KM2

In [25]:
UCGroups = df.groupby("UC")["Area"].sum().reset_index()

In [28]:
UCGroups.sort_values(by= "Area", ascending=False).head(5)

                                                 UC         Area
194  ÃREA DE PROTEÃÃO AMBIENTAL TRIUNFO DO XINGU  1336.114132
138               RESERVA EXTRATIVISTA JACI-PARANÃ   563.301878
51                    FLORESTA NACIONAL DO JAMANXIM   377.747210
181       ÃREA DE PROTEÃÃO AMBIENTAL DO TAPAJÃS   196.724257
122               RESERVA EXTRATIVISTA CHICO MENDES   119.100454